var parseCates = function (cates) {
  if (cates) {
    return cates.map(function (item) {
      return item.catename
    }).join(',')
  } else {
    return ''
  }

}
var parseTime = function (t=0) {
  return parseInt(t / 60) + "'" + t % 60 + '"'
}
var parseData = function (t=0) {
  // console.log(Date)
  var date = getDate();
  date.setTime(t*1000)
  return date.getMonth()+1+'月'+date.getDate()+'日'
}
module.exports = {
  parseCates: parseCates,
  parseTime: parseTime,
  parseData:parseData
};